@charset "UTF-8";
/* Comentarios acerca del CSS
- Todas las etiquetas están ordenadas por orden alfabético
*/
body {
  background: #ffffff;
  color: #1A1A1A;
  margin-right: auto;
  margin-left: auto; }

.catalogo h2 {
  border: black solid 2px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20%; }

header {
  text-align: center; }

.imagen {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5%; }
  .imagen p {
    width: 70%; }

.logo {
  align-items: center;
  background-image: url("../img/banner-chapas.jpg");
  background-size: contain;
  display: flex;
  height: 100px;
  justify-content: center; }

.navegador {
  background-color: #9c9c9c;
  padding: 1em;
  border-bottom: 1px black solid; }
  .navegador a {
    padding: 1em;
    color: #1A1A1A;
    text-decoration: none; }
    .navegador a:hover {
      background-color: white; }

.tipo {
  align-items: center;
  display: flex;
  justify-content: space-evenly; }
  .tipo p {
    text-align: left;
    width: 200px; }

footer {
  background-color: #ffffff;
  color: #1A1A1A;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  width: 100%; }
  footer img {
    height: 200px;
    width: 200px; }
  footer a {
    color: #1A1A1A;
    display: block;
    font-weight: bold;
    padding: 10px; }

section {
  display: flex;
  flex-direction: column; }
  section h2 {
    text-align: center; }
  section img {
    width: 200px;
    height: 200px; }

.mostrador {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center; }

.imgybt {
  display: flex;
  flex-direction: column;
  align-items: center; }

.parteizq h2 {
  font-size: 1.2em; }

.parteizq li {
  margin-left: 2em; }

.partederecha {
  margin-right: 20%; }
  .partederecha img {
    width: 500px;
    height: 250px; }

.imagenPrecio {
  display: flex;
  justify-content: space-between; }
