@charset "UTF-8";
@import url(../css/iconos.css);
/* Comentarios acerca del CSS
- Todas las etiquetas están ordenadas por orden alfabético
*/
body {
  background: #ffffff;
  color: #1A1A1A;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0; }

h1 {
  font-size: 3em;
  opacity: 0.8; }

h2 {
  border: black solid 1px;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.2em 2em;
  text-align: center;
  width: auto;
  font-size: 1.2em;
  background-color: #dcdcdc;
  font-family: sans-serif; }

h3 {
  background-color: #4efbbb;
  display: inline-block;
  padding: 0.2em 2em 0.2em;
  color: #ffffff;
  border-radius: 10px;
  font-family: sans-serif;
  border-bottom: 1px solid green;
  border-right: 1px solid green; }

footer {
  background-color: #9c9c9c;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: bold;
  border-top: 1px solid;
  padding-top: 1em;
  padding-bottom: 1em; }
  footer p {
    color: #4efbbb;
    font-size: 1em; }
  footer a {
    color: #1A1A1A;
    font-weight: bold;
    padding: 0.2em;
    text-decoration: none;
    font-size: 0.8em; }

.logoPolitica {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .logoPolitica img {
    width: 150px;
    height: 75px;
    border-radius: 15px;
    padding: 1em 0.5em 0.5em 1em; }

.info {
  width: auto; }
  .info p {
    color: #ffffff; }
  .info a {
    display: block;
    color: #ffffff; }
    .info a:hover {
      color: #4efbbb; }

.redes {
  text-align: center;
  width: auto; }
  .redes p {
    color: #ffffff; }
  .redes a {
    font-size: 1.5em;
    color: #ffffff; }
    .redes a:hover {
      background: #4efbbb;
      border-radius: 5px; }

header {
  text-align: center; }

.imagen {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em; }
  .imagen p {
    width: 80%;
    margin-left: 1em; }

.logo {
  align-items: center;
  background-image: url("../img/FondoHeader.png");
  background-size: contain;
  display: flex;
  height: 100px;
  justify-content: center; }

.mostrador {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  background-color: #dcdcdc;
  padding: 1em;
  border-top: 2px solid #4efbbb;
  border-bottom: 2px solid #4efbbb; }
  .mostrador img {
    margin-top: 0.5em; }

.imgybt {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .imgybt img {
    border: 2px solid #393d42;
    margin-bottom: 0.8em; }

.navegador {
  background-color: #9c9c9c;
  padding: 1em;
  border-bottom: 1px black solid; }
  .navegador a {
    padding: 1em;
    color: #1A1A1A;
    text-decoration: none; }
    .navegador a:link {
      background-color: #9c9c9c; }
    .navegador a:visited {
      background-color: #dcdcdc; }
    .navegador a:hover {
      background-color: #ffffff; }

.imagenPrecio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #393d42; }

.parteizq {
  margin-left: 1em;
  width: 15%; }

.partederecha {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  text-align: center;
  width: 80%; }
  .partederecha h3 {
    width: auto;
    padding: 0.2em 2em; }

.precios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #393d42; }
  .precios ul {
    list-style: none; }
    .precios ul:first-child {
      list-style: disc;
      text-align: left; }
    .precios ul li:first-child {
      list-style: none; }

section {
  display: flex;
  flex-direction: column; }
  section img {
    width: 200px;
    height: 200px; }

.tipo {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .tipo p {
    text-align: left;
    width: 200px; }

.contactos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em 1em 2em; }
  .contactos input {
    width: 10em; }

#txtApellidosID {
  width: 50%;
  min-width: 250px; }

#txtEmailID {
  width: 10em; }

#txtNifID {
  width: 10em; }

#txtTlf1ID, #txtTlf2ID {
  width: 12em; }

#txtDireccionID {
  width: 80%;
  min-width: 250px; }

#txtAsuntoID {
  width: 83%;
  min-width: 250px; }

.formularioPedido {
  width: 55%;
  min-width: 400px; }
  .formularioPedido textarea {
    column-width: 40;
    width: 100%;
    height: 5em;
    overflow-y: scroll; }

.filaForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.datosContacto {
  width: 35%;
  min-width: 400px;
  display: inline-block; }
  .datosContacto p {
    font-weight: bold; }
  .datosContacto ul li {
    list-style-type: none; }

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 1em;
    width: auto;
    margin-left: 1em;
    margin-right: 1em; }
  .logoPolitica, .info, .redes, p {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .info a {
    width: 100%;
    text-align: center; }
  .navegador {
    padding: 0.5em; }
    .navegador a {
      padding: 0.5em; } }
