body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background: lightblue;
  color: #1A1A1A; }

header {
  width: 100%;
  height: 200px;
  text-align: center;
  border-bottom: 1px black solid; }
  header .logo {
    background-color: green;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .logo img {
      width: 10%; }
  header nav a {
    padding: 10px; }

.descripcion .imagen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%; }
  .descripcion .imagen p {
    width: 70%; }

footer {
  background-color: green;
  width: 100%;
  color: grey;
  font-weight: bold;
  display: flex;
  justify-content: space-around; }
  footer .logo {
    background-color: green; }
    footer .logo img {
      width: 200px;
      height: 200px; }
  footer a {
    display: block;
    color: grey;
    font-weight: bold;
    padding: 10px; }

section {
  display: flex;
  flex-direction: column; }
  section h2 {
    text-align: center; }
  section .imgn {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center; }
  section img {
    width: 200px;
    height: 200px; }
  section .imgybt {
    display: flex;
    flex-direction: column;
    align-items: center; }
