@import "componentes/variables";


body{
	background:$color--fondo;
	color:$color--letras;
	margin-right: auto;
    margin-left: auto;
	width: 100%;
}

header{
	text-align: center;
	width: 100%;
	.logo{
		align-items: center;
		background-image: url("../img/banner-chapas.jpg");
		background-size: contain;
		display: flex;
		height: 200px;
   		justify-content: center;
	}
	nav a{
		padding: 10px;
	}
}

.descripcion{
	.imagen{
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 5%;
		p{
			width: 70%;
		}
	}
}


footer{
	background-color: $color--fondo;
	color: $color--letras;
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	width: 100%;
	img {
		height: 200px;
		width: 200px;
	}
	a{
		display: block;
		color: $color--letras;
		font-weight: bold;
		padding: 10px;
	}
}