@import "componentes/variables";
@import "../css/iconos.css";

/* Comentarios acerca del CSS
- Todas las etiquetas están ordenadas por orden alfabético
*/

body{
	background:$fondo--color;
	color:$letras--color;
	margin-right: auto;
	margin-left: auto;
}

.catalogo{
	h2{
		border: black solid 2px;
		border-radius: 5px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 20%;
	}
}


footer{
	background-color: $navegador__fondo--color;
	color:$letras--color;
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	width: 100%;
	border-top: 1px solid;
	img {
		height: 200px;
		width: 200px;
	}
	p{
		color: white;
	}
	a{
		color:$letras--color;
		font-weight: bold;
		padding: 10px;
		text-decoration: none;
	}
}

header{
	text-align: center;

}

.info{
	a{
		display: block;
		color: white;
	}
}

.imagen{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	p{
		width: 70%;
	}
}

.imagenPrecio{
	display: flex;
	justify-content: space-between;
}

.imgybt{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.logo{
	align-items: center;
	background-image: url("../img/banner-chapas.jpg");
	background-size: contain;
	display: flex;
	height: 100px;
	justify-content: center;
}
.mostrador{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-content: center;
}
.navegador{
	background-color: $navegador__fondo--color;
	padding:1em;
	a{
		padding:1em;
		color:$letras--color;
		text-decoration: none;
		&:hover{
			background-color: white;
		}
	}
	border-bottom:1px black solid ;
}

.partederecha{
	margin-right: 20%;
	img{
		width: 500px;
		height: 250px;
		
	}
}
.parteizq{
	h2{
		font-size: 1.2em;
	}
	li{
		margin-left: 2em;
	}
}

.redes{
	a{
		font-size: 1.5em;
		color: white;
	}
}

section{
	display: flex;
	flex-direction: column;
	h2{
		text-align: center;
	}
	img{
		width: 200px;
		height: 200px;
	}
}

.tipo{
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	p{
		text-align: left;
		width: 200px;
	}
}