@import "componentes/variables";
@import "../css/iconos.css";

/* Comentarios acerca del CSS
- Todas las etiquetas están ordenadas por orden alfabético
*/

body{
	background:$fondo--color;
	color:$letras--color;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}
h1 {
	font-size: 3em;
	opacity: 0.8;
}
h2{
	border: black solid 1px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 0.2em 2em;
	text-align: center;
	width: 20%;
	font-size: 1.2em;
	background-color: $fondo3--color;
	font-family: sans-serif;
}
h3 {
	background-color: $fondo__alternativo--color;
	display: inline-block;
	padding: 0.2em 2em 0.2em;
	color: $letraContactoH2;
	border-radius: 10px;
	font-family: sans-serif;
	border-bottom: 1px solid green;
	border-right: 1px solid green;
}

footer{
	background-color: $navegador__fondo--color;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-weight: bold;
	border-top: 1px solid;
	padding-top: 1em;
	padding-bottom: 1em;
	p{
		color: $fondo__alternativo--color;
		font-size: 1em;
	}
	a{
		color:$letras--color;
		font-weight: bold;
		padding: 0.2em;
		text-decoration: none;
		font-size: 0.8em;
	}
}
.logoPolitica {
	width: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	img {
		width: 150px;
		height: 75px;
		border-radius: 15px;
		padding: 1em 0.5em 0.5em 1em;	
	}
}
.info{
	width: auto;
	p {
		color: $letras__footer--color;
	}
	a{
		display: block;
		color: $letras__footer--color;
		&:hover {
			color: $fondo__alternativo--color;
		}
	}

}
.redes{
	text-align: center;
	width: auto;
	p {
		color: $letras__footer--color;
	}
	a{
		font-size: 1.5em;
		color: $letras__footer--color;
		&:hover {
			background: $fondo__alternativo--color;
			border-radius: 5px;
		}
	}
}

header{
	text-align: center;

}

.imagen{
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	p{
		width: 80%;
	}
}

.imagenPrecio{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid $borde__imagen--color;
}

.logo{
	align-items: center;
	background-image: url("../img/FondoHeader.png");
	background-size: contain;
	display: flex;
	height: 100px;
	justify-content: center;
}

.mostrador{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-content: center;
	background-color: $fondo3--color;
	padding: 1em;
	border-top: 2px solid $fondo__alternativo--color;
	border-bottom: 2px solid $fondo__alternativo--color;

}
.imgybt{
	display: flex;
	flex-direction: column;
	align-items: center;
	img{
		border: 2px  solid $borde__imagen--color;
		margin-bottom: 0.8em;
	}
	
}

.navegador{
	background-color: $navegador__fondo--color;
	padding:1em;
	border-bottom:1px black solid ;
	a{
		padding:1em;
		color:$letras--color;
		text-decoration: none;
		&:link{
			background-color: $navegador__fondo--color;
		}
		&:visited{
			background-color: $fondo3--color;
		}
		&:hover{
			background-color: $fondo--color;
		}
	}
	
}

.partederecha{
	display: flex;
	flex-direction: column;
	margin-right: 2%;
	text-align: center;
	width: 80%;
	h3 {
		width: auto;
		padding: 0.2em 2em;
	}
	
}
.precios{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid $borde__imagen--color;
	ul{
		&:first-child{
			list-style: disc;
			text-align: left;
		}
		list-style: none;
		li:first-child{
			list-style: none;
		}
	}
}
.parteizq{
	margin-left: 2%;
	width: 15%;
}

section{
	display: flex;
	flex-direction: column;
	img{
		width: 200px;
		height: 200px;
	}
}

.tipo{
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	p{
		text-align: left;
		width: 200px;
	}
}

.contactos {
	width: 100%;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	padding: 1em 1em 2em;
	input {
		width: 10em;
	}
}
#txtApellidosID {
	width: 50%;
	min-width: 250px;
}
#txtEmailID {
	width: 10em;
}
#txtNifID {
	width: 10em;
}
#txtTlf1ID, #txtTlf2ID {
	width: 12em;
}
#txtDireccionID {
	width: 80%;
	min-width: 250px;
}
#txtAsuntoID {
	width: 83%;
	min-width: 250px;
}
.formularioPedido {
	width: 55%;
	min-width: 400px;
	textarea {
		column-width: 40;
		width: 100%;
		height: 5em;
		overflow-y: scroll;
	}
}
.filaForm {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.datosContacto {
	width: 35%;
	min-width: 400px;
	display: inline-block;
	p {
		font-weight: bold;
	}
	ul {
		li {
			list-style-type: none;
		}
	}
}


@media screen and (max-width: 500px){
	.logoPolitica, .info, .redes, p {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.info {
		a {
			width: 100%;
			text-align: center;
		}
	}
}