include ../config/config.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Chapas
    body
        header
            .logo
                h1 Chapitas S.L.
            nav.navegador
                a(href="index.html").
                    Inicio
                a(href="chapas.html").
                    Chapas
                a(href="precios.html").
                    Precios
                a(href="contacto.html").
                    Contactos
                        
        section
            block banner
            block articulo
            block catalogo

        footer
            .logo
                img(src="img/logo1.jpg")
            .info
                p.
                    Informacion
                nav
                    a(href="").
                        Aviso Legal
                    a(href="").
                        Instrucciones para pedidos
                    a(href="").
                        Contactos
            .redes
                p.
                    Redes sociales
                nav
                    a(href="index.html").
                        Facebook
                    a(href="").
                        Twitter
                    a(href="").
                        Gmail
                    