include ../config/config.pug
<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title Dungeon20
    body
        header
            .logo

                a(href="index.html").icon-home
                img(src="img/dungeon20logo.png")
                .partederecha
                    a(href="www.facebook.com").icon-man
                    a(href="www.facebook.com").icon-power
            .menu
                ul
                    li
                        a(href="index.html").icon-home Inicio
                    li
                        a(href="www.facebook.com").icon-facebook Mis personajes
                    li
                        a(href="#").icon-man Amigos

                        
        .principal
            section
                block seccion
            aside
                block derecha
        footer
            
