extends template/template.pug

block catalogo
    .catalogo
        h2.
            Catalogo
        .tipos
            .tipo.Uno
                img(src="img/chapa.png")
                p.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
            .tipo.Dos
                p.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
                img(src="img/chapa.png")
            .tipo.Uno
                img(src="img/chapa.png")
                p.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
            