extends template/template.pug
            
block contactos
    h2 Contacto

    .contactos
        .formularioPedido
            h3 ENVÍANOS TU PEDIDO
            form(action="#", method="post")
                fieldset
                    legend Datos del pedido:
                    .filaForm
                        label(for="lblNombre") Nombre:
                        input(type="text", name="txtNombre")
                    .filaForm
                        label(for="lblApellidos") Apellidos:
                        input(type="text", name="txtApellidos", id="txtApellidosID")
                    .filaForm
                        label(for="lblEmail") Email:
                        input(type="text", name="txtEmail", id="txtEmailID")
                    .filaForm
                        label(for="lblNif") Nif:
                        input(type="text", name="txtNif", id="txtNifID")
                    .filaForm
                        .filaForm
                            label(for="lblTfl1") Tlf1: 
                            input(type="text", name="txtTlf1", id="txtTlf1ID")
                        .filaForm
                            label(for="lblTlf2") Tlf2:
                            input(type="text", name="txtTlf2", id="txtTlf2ID")
                    .filaForm
                        label(for="lblLocalidad") Localidad:
                        input(type="text", name="txtLocalidad")
                        label(for="lblProvincia") Provincia:
                        select(name="slcProvincia")
                            option(value="Default") Elige una provincia
                            option(value="JAÉN") JAÉN
                            option(value="GRANADA") GRANADA
                    .filaForm
                        label(for="lblDireccion") Dirección:
                        input(type="text", name="txtDireccion", id="txtDireccionID")
                    .filaForm
                        label(for="lblAsunto") Asunto:
                        input(type="text", name="txtAsunto", id="txtAsuntoID")
                    .filaForm
                        label(for="lblPedido") Pedido:
                        textarea(name="txtareaPedido")                      
        .datosContacto
            h3 CONTACTO:
            ul
                li Email: chapaschapitas@gmail.es
                li Tlf: +34 953 60 60 60 
            h3 DIRECCIÓN:
            p Oficina:
            ul
                li Linares (Jaén)
                li Calle Santa Engracia nº5
            p Fábrica:
            ul
                li La Carolina (Jaén)
                li Calle Perequito Mechor nº7
    