extends template/template.pug
            
block contactos
    h2 Contacto
    .formularioPedido
        h3 ENVIANOS TU PEDIDO
        form(action="#", method="post")
            fieldset Datos Personales:
            legend
                label(for="nombreForm")
    .datosContacto
    