extends template/template.pug

block seccion
    h2 INICIO
    .cuadro
        img(src="img/rol1.jpg")
        h3 BIENVENIDO A D&amp;D
        p Dungeon20 es una herramienta web gratuita que te permite crear, gestionar y compartir tus personajes y campañas para tus partidas de Dungeons &amp; Dragons, El Resurgir del Dragón y otros juegos de rol con el sistema D20.
        p Estaremos encantados de recibir vuestras sugerencias, consultas o peticiones a través de email o por redes sociales:
        .contactar
            a.icon-whatsapp(href="#")
            a.icon-facebook(href="#")
            a.icon-instagram(href="#")
        p Recuerda que puedes descargar nuestra aplicación para Android desde Google Play. Próximamente también para iOS:
        a(href="www.googleplay.com")
            img(src="img/enlacegoogleplay.png", alt="google play")
    .parteabajo
        .bloque
            img(src="", alt="")
            p
            p
                a(href="http://")
        .bloque
            img(src="", alt="")
            p
            p
                a(href="http://")
        .bloque
            img(src="", alt="")
            p
            p
                a(href="http://")

block derecha
    video(src="video/D.mp4", controls poster="vistaprevia.jpg") Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.