extends template/template.pug

block imagen
    .mostrador
        img(src="img/chapa.jpg")

block articulo
    article
        div
            h2.
                Aqui va el mostrador
            .descripcion
                .imagen
                    img(src="img/chapa.png")
                    p.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
                .imagen
                    img(src="img/chapa.png")
                    p.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
                .imagen
                    img(src="img/chapa.png")
                    p.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
            