extends template/template.pug

block banner
    h2 Personalizables y diseños predeterminados
    .mostrador
        .imgybt
            img(src="img/chaparedonda.jpg", alt="Chapa Redonda")
            input(type="button", value="Informate del precio de las chapas redondas", onClick="window.location='precios.html#tipo1'")
        .imgybt
            img(src="img/chapacuadrada.jpeg", alt="Chapa Cuadrada")
            
            input(type="button", value="Informate del precio de las chapas cuadradas", onClick="window.location='precios.html#tipo2'")
        .imgybt
            img(src="img/chapatriangular.jpeg", alt="Chapa Triangular")
            
            input(type="button", value="Informate del precio de las chapas triangulares", onClick="window.location='precios.html#tipo3'")
        

block articulo
    article
        .descripcion
            .imagen
                a(href="precios.html")
                    img(src="img/chapa.png")
                p.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
            .imagen
                a(href="precios.html")
                    img(src="img/chapatriangular.jpeg")
                p.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
            .imagen
                a(href="precios.html")
                    img(src="img/chapacuadrada.jpeg")
                p.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt velit suscipit aliquid libero excepturi reiciendis vero corporis facilis obcaecati iure.
    .visor
        img(src="img/chapa.png")
        img(src="img/chapacuadrada.jpeg")
        img(src="img/chaparedonda.jpg")
        img(src="img/chapatriangular.jpeg")
        img(src="img/chapa.png")

        