extends template/template.pug
block precio 
    .tipoChapas
        .imagenPrecio
            .parteizq
                img(src="img/chaparedonda.jpg")
                h2 Tamaños redondos
                ul
                    li 5mm
                    li 10mm
                    li 12.5mm
            .partederecha
                h2 Chapas redondas:
                .precios    
                    ul
                        li 
                            h2 5mm
                        li 0-99 chapas: 0'10/unidad
                        li 100-500 chapas: 0'08/unidad
                        li 501-1000 chapas: 0'05/unidad
                      
                    ul
                        li 
                            h2 10mm
                        li 0-99 chapas: 0'15/unidad
                        li 100-500 chapas: 0'12/unidad
                        li 501-1000 chapas: 0'10/unidad
                          
                    ul
                        li 
                            h2 12.5mm
                        li 0-99 chapas: 0'20/unidad
                        li 100-500 chapas: 0'18/unidad
                        li 501-1000 chapas: 0'15/unidad
        .imagenPrecio
            .parteizq
                img(src="img/chapacuadrada.jpeg")
                h2 Tamaños cuadrados
                ul
                    li 5mm
                    li 10mm
                    li 12.5mm
            .partederecha
                h2 Chapas cuadradas
                .precios    
                    ul
                        li 
                            h2 5mm
                        li 0-99 chapas: 0'10/unidad
                        li 100-500 chapas: 0'08/unidad
                        li 501-1000 chapas: 0'05/unidad
                      
                    ul
                        li 
                            h2 10mm
                        li 0-99 chapas: 0'15/unidad
                        li 100-500 chapas: 0'12/unidad
                        li 501-1000 chapas: 0'10/unidad
                          
                    ul
                        li 
                            h2 12.5mm
                        li 0-99 chapas: 0'20/unidad
                        li 100-500 chapas: 0'18/unidad
                        li 501-1000 chapas: 0'15/unidad
        .imagenPrecio
            .parteizq
                img(src="img/chapatriangular.jpeg")
                h2 Tamaños triangulares
                ul
                    li 5mm
                    li 10mm
                    li 12.5mm
            .partederecha
                h2 Chapas triangulares
                .precios    
                    ul
                        li 
                            h2 5mm
                        li 0-99 chapas: 0'10/unidad
                        li 100-500 chapas: 0'08/unidad
                        li 501-1000 chapas: 0'05/unidad
                      
                    ul
                        li 
                            h2 10mm
                        li 0-99 chapas: 0'15/unidad
                        li 100-500 chapas: 0'12/unidad
                        li 501-1000 chapas: 0'10/unidad
                          
                    ul
                        li 
                            h2 12.5mm
                        li 0-99 chapas: 0'20/unidad
                        li 100-500 chapas: 0'18/unidad
                        li 501-1000 chapas: 0'15/unidad