extends template/template.pug
block precio 
    .tipoChapas
        .imagenPrecio
            .parteizq
                img(src="img/chaparedonda.jpg")
                h2 Tamaños redondos
                ul
                    li 5mm
                    li 10mm
                    li 12.5mm
            .partederecha
                img(src="img/chaparedonda-partederecha.jpeg")
        .imagenPrecio
            .parteizq
                img(src="img/chapacuadrada.jpeg")
                h2 Tamaños cuadrados
                ul
                    li 5mm
                    li 10mm
                    li 12.5mm
            .partederecha
        .imagenPrecio
            .parteizq
                img(src="img/chapatriangular.jpeg")
                h2 Tamaños triangulares
                ul
                    li 5mm
                    li 10mm
                    li 12.5mm
            .partederecha