extends template/template.pug
block precio 
    .tipoChapas
        .imagenPrecio
            .parteizq
                img(src="img/chaparedonda.jpg",id="tipo1")

            .partederecha
                h2  Precios
                h3 Chapas redondas:
                .precios  
                    ul
                        li 
                            h3 Cantidades
                        li 0-99 chapas: 
                        li 100-500 chapas:
                        li 501-1000 chapas:            
                    ul
                        li
                            h3 5mm
                        li 0'10/unidad
                        li 0'08/unidad
                        li 0'05/unidad
                      
                    ul
                        li 
                            h3 10mm
                        li 0'15/unidad
                        li 0'12/unidad
                        li 0'10/unidad
                          
                    ul
                        li 
                            h3 12.5mm
                        li 0'20/unidad
                        li 0'18/unidad
                        li 0'15/unidad
        .imagenPrecio
            .parteizq
                img(src="img/chapacuadrada.jpeg",id="tipo2")
              
            .partederecha
                h3 Chapas cuadradas:
                .precios    
                    ul
                        li 
                            h3 Cantidades
                        li 0-99 chapas: 
                        li 100-500 chapas:
                        li 501-1000 chapas:            
                    ul
                        li 
                            h3 5mm
                        li 0'10/unidad
                        li 0'08/unidad
                        li 0'05/unidad
                    
                    ul
                        li 
                            h3 10mm
                        li 0'15/unidad
                        li 0'12/unidad
                        li 0'10/unidad
                        
                    ul
                        li 
                            h3 12.5mm
                        li 0'20/unidad
                        li 0'18/unidad
                        li 0'15/unidad
        .imagenPrecio
            .parteizq
                img(src="img/chapatriangular.jpeg",id="tipo3")
                
            .partederecha
                h3 Chapas triangulares:
                .precios    
                    ul
                        li 
                            h3 Cantidades
                        li 0-99 chapas: 
                        li 100-500 chapas:
                        li 501-1000 chapas:            
                    ul 
                        li 
                            h3 5mm
                        li 0'10/unidad
                        li 0'08/unidad
                        li 0'05/unidad
                    
                    ul
                        li 
                            h3 10mm
                        li 0'15/unidad
                        li 0'12/unidad
                        li 0'10/unidad
                        
                    ul
                        li 
                            h3 12.5mm
                        li 0'20/unidad
                        li 0'18/unidad
                        li 0'15/unidad