$fondo--color: #ffffff;
$fondo__alternativo--color:#feec80;
$fondo3--color:#dcdcdc;
$letras--color: #1A1A1A;
$letras__footer--color:#ffffff;
$navegador__fondo--color: #9c9c9c;
$borde__imagen--color: #393d42;